@media (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
    .circleImg {
        margin-bottom: 10px; 
        margin-top: 100px;
    }
    
    .circleImg Img {
        height: 124px;
        width: 124px;
    }

    .title {
        font-size: 2em; 

        &::before,
        &::after {
            content: '';
            display: block;
            height: 0.09em;
            min-width: 25vw;
        }
    }

	#intro .hiddenUp{
		text-align: center;
	}

    p {
        font-size: 12px;
        width: 95%;
		/* text-align: center; */
		margin-left: auto;
		margin-right: auto;
    }

	.intro #hiddenUp p {
		text-align: center;
	}

	.section {
		margin-bottom: -10px;
		text-align: left;
		max-width: 95%;
	}

	.row {
		display: flex;
		flex-direction: column;
	}

	.col {
		width: 95%;
		/* padding: 10px; */
		margin-left: auto;
		margin-right: auto;
	}
	.colImg {
		margin-left: auto;
		margin-right: auto;
	}
	
	.subTitle {
		text-align: center;
	}

	.col .colDesc {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	.colDesc {
		width: 95%;
	}

	.colDesc p{
		width: 100%;
	}

	.section #projects {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#extracurriculars2.section {
		width: 100%;
		min-width: 100vw;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		justify-content: center;
	}

	.activities .title {
		font-size: 1.75em;
	}
	#connectTitle {
		font-size: 1.75em;
	}

	#contact.title {
		font-size: 1.75em;
	}
	.colImg2Container {
		height: 150px;
		
	}
	.colImg2 {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
	}

	.colImg2 img {
		height: 124px;
		width: 124px;

	}

	.colDescReadMore {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.readMoreBtn {
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}

	#roboticsGallery {
		margin-top: -15px;
		margin-bottom: -25px;
	}

	#roboticsGallery2 {
		margin-top: -100px;
	}
	#FIRST{
		display: flex;
		justify-content: center; 
		align-items: center;
		max-width: 100%;
		max-height: 100%;
		margin-top: 15px;
		transition: transform 0.5s;
	}

	#SAC.colImg2Container {
		height: 25%;
	}

	#connectLinks.connectLinksContainer {
		max-width: 50px;
		margin-left: auto;
		margin-right: auto;
	}

	.link {
		font-size: 0.75rem;
		justify-content: center;
		align-items: center;
	}

	#contact.section {
		margin: 100px auto 25px;
		width: 100%;
	}
	.contact .hiddenUp {
		max-width: 100%;
	}
}