@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Karla', sans-serif;
    --delay: .3s;
    color-scheme: dark;
}

.nav-link {
    transition: all 0.5s ease;
    position: relative;
}
.nav-link::after {
    content: ''; /* bar */
    opacity: 0;
    transition: all 0.2s;
    height: 2px; /* 2px bar */
    width: 100%; 
    background-color: aqua;
    position: absolute; /* no extra space */
    bottom: 0; /* 0px from bottom */
    left: 0; /* 0px from left */
}

.nav-link:hover::after {
    opacity: 1;
}

.circleImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 10px auto; /* margin: top right bottom left */
}

.circleImg img {
    object-fit: cover;
    /* position: relative; */
    width: 300px;
    height: 300px;
    display: block;
    /* margin: 5px auto 20px; */  
    border-radius: 50%;
    /* margin-bottom: 32px; */
    transition: transform 0.5s;
    -webkit-tap-highlight-color: transparent;
}

.circleImg img:hover {
    transform: scale(1.2);
}

/* Solid border */
hr.solid {
  border-top: 3px solid white;
  width: 80%;
  justify-content: center;
}


body {
    font-family: 'Poppins', 'san-serif';
    background-color: black;
    background-image: url('images/background.jpg');
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    /* background-color: rgba(0, 0, 0, .25); */
    color: white;
    opacity: 1;
    margin: 0.5rem auto;
    padding: 1rem;
    margin-bottom: 25vh;
}

.hiddenUp {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(75%);
    transition: all 1s ; 
}

@media(prefers-reduced-motion) {
    .hiddenUp {
        transition: none; 
    }
}

.showUp {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ; 
}

@media(prefers-reduced-motion) {
    .hidddenLeft {
        transition: none; 
    }
}

.showLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.colImg {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100;
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    transition: transform 0.5s;
}

.colImg2 {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100;
    max-width: 50%;
    max-height: 50%;
    margin: 100px 200px;
    transition: transform 0.5s;
}

.colImg2 img:hover {
    transform: scale(1.2);
}
.aboutMe {
    text-align: left;
}
.colDesc {
    width: 80%;
    text-align: left;
}


.extracurriculars {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: left;
    width: 80%;
    background-color: rgba(0, 0, 0, .25);
    color: white;
    opacity: 1;
    margin: 0.5rem auto;
    padding: 1rem;
    margin-bottom: 5%;
}
.title {
    font-size:4em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
    &::before,
    &::after {
      content: '';
      display: block;
      height: 0.09em;
      min-width: 30vw;
    }
    
    &::before {
      background: linear-gradient(to right, rgba(240,240,240,0), #fff);
      margin-right: 4vh;
    }
    
    &::after {
      background: linear-gradient(to left, rgba(240,240,240,0), #fff);
      margin-left: 4vh;
    } 
}

.divider {
    font-size:4em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    opacity: 0.4;
    
    &::before,
    &::after {
      content: '';
      display: block;
      height: 0.09em;
      min-width: 30vw;
    }
    
    &::before {
      background: linear-gradient(to right, rgba(240,240,240,0), #fff);
      /* margin-right: 4vh; */
    }
    
    &::after {
      background: linear-gradient(to left, rgba(240,240,240,0), #fff);
      /* margin-left: 4vh; */
    } 
}

h1 {
    margin-bottom: 1rem;
    /* letter-spacing: 1px; */
    text-align: center; 
}

p {
    font-size: 1em;
    margin-bottom: 1rem;
}

.subTitle{
    text-align: left;
    margin: 15px auto 15px auto;
}

.subTitleCentered{
    text-align: center;
    margin: 15px auto 15px auto;
}


#projectLink {
    display: flex;
    justify-content: left;
    margin: 0 auto 0 auto;
    align-items: left;
    /* max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto; */
}

#connectLinks {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    align-items: left;
    /* max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto; */
}

#projectLink2 {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0 27%;
    align-items: center;
    /* max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto; */
}

.link {
    position: relative;
    background-color: transparent; 
    /* background-color: #fff8;
    backdrop-filter: blur(10px) saturate(260%) contrast(180%); 
    /* color: white; */
    color: var(--accentColor); 
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
    transition: all 0.5s;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

#home {
    scroll-margin-top: 100px; /* Adjust this value as needed */
}
#aboutMe, #projects, #extracurriculars, #contact {
    scroll-margin-top: 50px; /* Adjust this value as needed */
}

.colDescReadMore {
    width: 80%;
    text-align: left;
    margin-bottom: 10px;
}

.readMore {
    max-height: 0;
    overflow: hidden;
    transition: all 0.75s;
}

.readMore.show {
    max-height: 500px; /* Adjust the value as needed */
}

.readMoreBtn {
    transition: all 0.5s;
    display: inline-block;
    color: purple;
    /* background-color: ; */
    padding: 0.6rem 1.5rem 2rem;
    font-size: 1em;
    position: relative;
    z-index: 1;
    cursor: pointer; 
}

.readMoreBtn:hover{
    background-color:whitesmoke;
    box-shadow:0 0 2rem rbga(0,0,0,0.1);
    transform: translateY(-3px);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .galleryBody, .galleryBody * {
      all:unset;
  }
  
  .galleryBody {
    display: flex;
    margin: -100px auto 15px auto;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    /* background: linear-gradient(to left top, #031A9A, #8B53FF); */
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  
  .wrapper i {
    z-index:1;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: white;
    color:black;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    z-index:0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-y: hidden;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height:350px;
    list-style: none;
    background: transparent;
    border-radius: 0px;
    /* background: #fff; */
    cursor: pointer;
    /* padding-bottom: 15px; */
    flex-direction: column;
    border-radius: 8px;
  }
  /* .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  } */
  .card .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* border: 4px solid #fff; */
  }
  /* .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  } */
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
